<header class="header">
    <!-- Barra de navegación -->
    <nav class="navbar">
        <a href="/html/index.html" class="nav-logo">TO-DO APP</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/html/index.html" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="/html/tasks.html" class="nav-link">Mis Tareas</a>
            </li>
        </ul>
        <!-- Menú hamburguesa para dispositivos móviles -->
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>

    <!-- Script de la aplicación -->
    <script src="/typescript/app.js"></script>
</header>